# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# VS Code
.vscode/

# Logs
*.log

# Environment
.env

# Uploads
uploads/*

# Downloads
downloads/*

# macOS
.DS_Store

# Windows
Thumbs.db

# Node
node_modules/

# Build
dist/
build/