__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/

.git
.gitignore
.vscode/
.idea/

**/exports/
**/screenshots/
**/output/
**/logs/
**/uploads/

playwright_profiles/
profile/
profiles/
user_data/

*.csv
*.xlsx
*.db

*.png
*.jpg
*.jpeg

*.docx
*.doc
*.pdf

.pytest_cache/
.mypy_cache/